---
layout: legal.njk
title: Destek
description: "Lulu: Evcil Hayvan Sağlık Günlüğü için yardım alın."
lang: tr
pageSlug: support
navActive: support
permalink: tr/support/index.html
---
{% set pageLang = lang %}{% include "pages/support.njk" %}
