---
layout: legal.njk
title: Güncellemeler
description: "Lulu: Evcil Hayvan Sağlık Günlüğü’ndeki yenilikleri keşfedin."
lang: tr
pageSlug: updates
navActive: updates
bodyClass: updates
permalink: tr/updates/index.html
---
{% set pageLang = lang %}{% include "pages/updates.njk" %}
