---
layout: legal.njk
title: Support
description: "Hilfe zu Lulu: Pet Health Journal."
lang: de
pageSlug: support
navActive: support
permalink: de/support/index.html
---
{% set pageLang = lang %}{% include "pages/support.njk" %}
