---
layout: legal.njk
title: Neuigkeiten
description: "Entdecke neue Funktionen und Verbesserungen in Lulu: Pet Health Journal."
lang: de
pageSlug: updates
navActive: updates
bodyClass: updates
permalink: de/updates/index.html
---
{% set pageLang = lang %}{% include "pages/updates.njk" %}
