---
layout: legal.njk
title: Support
description: "Get help with Lulu: Pet Health Journal."
lang: en
pageSlug: support
navActive: support
permalink: en/support/index.html
---
{% set pageLang = lang %}{% include "pages/support.njk" %}
