---
layout: legal.njk
title: Updates
description: "See what's new in Lulu: Pet Health Journal."
lang: en
pageSlug: updates
navActive: updates
bodyClass: updates
permalink: en/updates/index.html
---
{% set pageLang = lang %}{% include "pages/updates.njk" %}
