---
permalink: updates/index.html
layout: false
eleventyExcludeFromCollections: true
---
<!doctype html><html lang="en"><head><meta charset="utf-8"><meta http-equiv="refresh" content="0; url=/en/updates/"><link rel="canonical" href="{{ site.url }}/en/updates/"><title>Updates | Lulu</title></head><body><p><a href="/en/updates/">Continue to Lulu updates</a></p><script>window.location.replace('/en/updates/');</script></body></html>
