{% set pageLang = lang or "en" %}
{% set ui = translations[pageLang] %}
{% set currentSlug = pageSlug or legalSlug %}
<!DOCTYPE html>
<html lang="{{ pageLang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | Lulu: Pet Health Journal</title>
  <meta name="description" content="{{ description }}">
  <link rel="canonical" href="{{ site.url }}{{ canonicalPath or ('/' + pageLang + '/' + currentSlug + '/') }}">
  <link rel="alternate" hreflang="en" href="{{ site.url }}/en/{{ currentSlug }}/">
  <link rel="alternate" hreflang="de" href="{{ site.url }}/de/{{ currentSlug }}/">
  <link rel="alternate" hreflang="tr" href="{{ site.url }}/tr/{{ currentSlug }}/">
  <link rel="alternate" hreflang="x-default" href="{{ site.url }}/en/{{ currentSlug }}/">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="{{ bodyClass or '' }}">
  {% include "header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
</body>
</html>
